body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
input[type="text"],
input[type="number"],
select,
button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.task-form {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
}
#result, #results-container, #tasks-container, #taskInputs {
    margin-top: 20px;
}
hr {
    border: 1px solid #ddd;
}
/* Base styles for the header */




/* Styles for the share button */
.share-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

#shareBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#shareBtn img {
    height: 30px;
    width: 30px;
}

#shareBtn:hover img {
    filter: brightness(0.8);
}


   